
.mainGallery{
    display:flex;
    justify-content:space-around;
    /* width:100%; */
}

   .subGallery{
    border: 2px solid pink;
    width:300px;
    height: 250px;
    display: flex;
    align-items: center;
}

.otherImages,#defImage{
    object-fit:contain;
    /* width:240px;
    height:180px; */
    /* max-width:100%; */
    /* border: 2px solid black; */
    
}
   
.c{
    margin:3px;
}
    
.container{
    display:flex;
    justify-content:center;
    /* align-items: center; */
    /* border: 1px solid; */
    margin: 50px;
    /* width:100%; */
    
}

.subContainer{
    /* border: 2px solid green; */
    background-color:blanchedalmond;
    width:450px;
    height:450px;
    display:flex;
    justify-content:center;
    
}

#expandedImg{
    object-fit:contain;
    /* max-width:100%;
    max-height: 100%; */
    /* border: 1px solid black; */
    align-self: center;
    /* background-color:antiquewhite; */
   
}
    